/* APP */
.app {
    height: 1000px;
}
.app.dark {
    background-color: #26413C;
    color: skyblue;
}
.app.light {
    background-color: beige;
    color: black;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid black;
}
.header.dark {
    background-color: #6A2E35;
}
.header.light {
    background-color: skyblue;
}

.title-container {
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.button-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.button {
    padding: 6px;
    margin: 10px 0px;
    border-radius: 6px;
}

/* STOPLIGHT */
.stoplight {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    margin: 10px;
}

.flag-on {
    margin: 0 0 10px 0;
}
.flag-off {
    margin: 0 0 10px 0;
    visibility: hidden;
}

.signal {
    border-left: solid 5px black;
    border-right: solid 5px black;
    width: 80px;
    height: 80px;
    background-color: black;
}

.signal.red {
    border-top: solid 5px black
}
.signal.yellow {
/* if I get around to color customization, I'll need to use this again */
}
.signal.green {
    border-bottom: solid 5px black;
}

input[type=button] {
    padding: 6px;
    margin-top: 10px;
    width: 80px;
}

/* SQUIDGAME */
.squid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* CUSTOM PLAYGROUND */
.custom-stoplight {
    /* border: solid 2px black; */
    height: 240px;
    width: 80px;
    display: flex;
    flex-direction: column;
}

.custom-signal {
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 0;
}
