/* APP */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: tan;
}

.title-container {
    margin: 5px;
    justify-items: center;
}

.button-container {
    margin: 5px;
}

/* STOPLIGHT */
.stoplight {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    margin: 10px;
}

.signal {
    border-left: solid 5px black;
    border-right: solid 5px black;
    width: 80px;
    height: 80px;
    background-color: black;
}

.signal.red {
    border-top: solid 5px black
}
.signal.yellow {

}
.signal.green {
    border-bottom: solid 5px black;
}

input[type=button] {
    padding: 6px;
    margin-top: 10px;
    width: 80px;
}
